body {
  margin: 0 auto !important;
  padding: 0;
  width: 60%;
  padding-top: 10px;
  /*background-color: #ff7a59;*/
}

#main {
  font-family: "Lato", sans-serif;
  padding: 50px 0;
  font-size: 3em;
  font-weight: 900;
}

button.btn {
  background-color: #ff7a59;
}

h3 {
  padding-bottom: 20px;
}
